/*!
Theme Name: tivoli
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: tivoli
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

*/



/*--------------------------------------------------------------
# Author
--------------------------------------------------------------*/

@font-face {
    font-family:'Adobe Garamond Pro';
    src: url('fonts/AGaramondPro-Italic.eot');
    src: url('fonts/AGaramondPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/AGaramondPro-Italic.woff2') format('woff2'),
        url('fonts/AGaramondPro-Italic.woff') format('woff'),
        url('fonts/AGaramondPro-Italic.svg#AGaramondPro-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Adobe Garamond Pro';
    src: url('fonts/AGaramondPro-Regular.eot');
    src: url('fonts/AGaramondPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/AGaramondPro-Regular.woff2') format('woff2'),
        url('fonts/AGaramondPro-Regular.woff') format('woff'),
        url('fonts/AGaramondPro-Regular.svg#AGaramondPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'ITC Avant Garde Std Md';
    src: url('fonts/ITCAvantGardeStd-Bold.eot');
    src: url('fonts/ITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/ITCAvantGardeStd-Bold.woff2') format('woff2'),
        url('fonts/ITCAvantGardeStd-Bold.woff') format('woff'),
        url('fonts/ITCAvantGardeStd-Bold.svg#ITCAvantGardeStd-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}


html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:'Adobe Garamond Pro', serif;
}

a {
    text-decoration: none;
    color: #D0CEC1;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: #13523F;
    font-family:'Adobe Garamond Pro', serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    color: #D0CEC1;
    font-size: 16px;
}

p {
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    padding: 2rem;
    font-family:'Adobe Garamond Pro', serif;

    @media only screen and (min-width: 600px) {
        padding: 4rem;
    }
}

.top,
.bottom {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: space-around;

    @media only screen and (min-width: 600px) {
        flex-flow: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 600px) {
    .bottom {
        align-items: flex-end;
    }
}


.q-1 {
    font-style: italic;
    text-align: right;
    font-size: .875rem;

    @media only screen and (min-width: 600px) {
        text-align: left;
        font-size: 1rem;
    }
}

.q-2 {
    text-align: right;

    @media only screen and (min-width: 600px) {
        text-align: left;
    }

    img {
        width: 60vw;
        margin-top: 2rem;

        @media only screen and (min-width: 600px) {
            width: 22vw;
            margin-top: 0;
        }
    }
}

.q-3 {
    font-weight: bold;
    text-align: right;
    font-family: 'ITC Avant Garde Std Md', sans-serif;

    @media only screen and (min-width: 600px) {
        text-align: left;
        width: 55%;
    }

    p {
        font-size: 3rem;
        margin-bottom: 3rem;

        @media only screen and (min-width: 600px) {
            font-size: 5.4vw;
            line-height: 1.1em;
            margin-bottom: 0;
        }
    }
}

.q-4 {
    text-align: right;
    font-size: .875rem;

    @media only screen and (min-width: 600px) {
        font-size: 1.25rem;
        width: 45%;
    }

    p:first-child {
        margin-bottom: 10px;
    }
}


/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 740px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    main {
        padding: 2rem;
    }

    .q-3 p {
        font-size: 4vw;
        line-height: 1.3em;
    }

    .q-4 {
        font-size: .875rem;
        width: 45%;
    }
}

a[href^=tel] { color: #D0CEC1; text-decoration: none; }